.container{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 270px;
    
    border-radius: 20px;
    background-color: aliceblue;
    transition: all 1.1s ease;
    box-shadow: 0 0 20px rgba(0, 255 , 255,0.6);
}

.container:hover{
    transform:scale(1.1);
}
.buttonContainder{
    display: flex;
    justify-content: flex-end;
}
.button{
    border-radius: 20px;
    margin: 10px 10px 0 0;
    border: none;
    background-color: red;
    color: aliceblue;
    
}
.button:hover{
   cursor:pointer;
   transform: scale(1.1);
}
img{
    width: 200px;
    border-radius: 10px 10px 0 0;
}
.imagenContainder{
    display: flex;
    flex-direction:column-reverse;
    margin-top: 10px;
    margin-bottom: 0px;
    align-items: center;
}
.name{
    background-color:rgba(0, 255 , 255,0.6);
    position: absolute;
    margin-bottom: 0px;
}
.propsContainer{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
    color: aqua;
    border-radius: 0 0 20px 20px;
}
.propsContainer h2 {
    margin: 0px;
}

.link{
     text-decoration: none;
     color: inherit;
}