.search{
    display: flex;
    justify-content: center;
}
input{
    background-color: rgb(251, 252, 252);
    font-family: cursive;
    border-radius: 10px 0 0 10px;
    border-color: aqua;
    outline: none;
}
button{
    border-radius: 0 10px 10px 0;
    background-color: #282c34;
    color: aqua;
    border-color: aqua;

}
button:hover {
    color: #282c34;
    background-color: aqua;
    cursor: pointer;
}