.container{
    background-color: aquamarine;
    justify-content: flex-end;
    display: flex;
    padding: 18px;
    border-radius: 5px;
    margin-bottom:20px ;
}
/* .active{
    -webkit-text-stroke: 2px black;
    color: transparent; 
} */
.nav{

    margin-left: 25px;
    
}